body{
  background-color: #AED6F1;
}

.card{
	background-color:darkgray;
/*	box-shadow: 5px 5px #888888;*/
	border: 2px solid #2471A3;
}


.navbar-brand{
	background-color:darkblue;
	padding:5px 5px 5px 5px;
}

a {
  padding:5px;
  border-radius: 5px;
}

a:hover {
  background-color: darkblue;
}

.active {
  border-radius: 5px;
  background-color: darkblue;
}

